@charset "UTF-8";

/*============= COMMON =============*/
.clear {clear: both;}
#container {max-width: 1200px; margin: 0 auto}
#container.container-sm {max-width: 1000px}
.text-center {text-align: center !important;}
.text-left {text-align: left !important}
.text-right {text-align: right !important}
.text-underline {text-decoration: underline;}
.text_muted {color:#888}

.d-inline-block {display: inline-block !important;}
.d-block {display: block !important;}
.d-flex {display: flex !important;}

.page_title {margin:100px 0 50px}
.page_title h3 {color:#191919; font-size: 28px; display: block; text-align: center}
.swal2-html-container {font-size: 16px !important}

.form_wrap {width: 640px; margin: -50px auto 50px}
.form_wrap ul {border-top: 2px solid #191919; padding: 10px 0 }
.form_wrap .text-right span {color:red; margin-right:3px}
.form_wrap .text-right {font-size: 14px; color:#888}
.form_row {display: inline-flex; align-items: center; margin:0 0 10px}
.form_row .label {font-weight: 600; color:#191919; width: 140px;}
.form_row .required {position: relative; display:inline-block;}
.form_row .required:after {content:'*'; color:red; font-size: 11px; position:absolute; top:-3px; right:-8px}
.input {border-radius:3px;margin:3px;font-family: 'LINESeedKR'}
.full_input {display: block; width: 340px; height: 46px; padding: 5px; background:#fff; border:1px solid #efefef;}
.btn_input {display : inline-block; width: 280px; height: 46px; padding: 5px; background:#fff; border:1px solid #efefef;}
.select {border-radius:3px;margin:3px;font-family: 'LINESeedKR'}
.full_select {display: block; width: 340px; height: 46px; padding: 5px; background:#fff; border:1px solid #efefef;}
.btn {width: 55px; height: 46px; border-radius:3px;margin:3px; font-family: 'LINESeedKR'; line-height: 46px; text-align:center;}
.btn_confirm {display: inline-block; line-height:46px; color:#fff; background:#7749eb; margin-left:0;}
.btn_check {display: inline-block; line-height:46px; color:#7749eb; border:1px solid #7749eb; background:#fff; margin-left:10px; width: 140px}
.btn_check:hover {transition:0.2s; background: #7749eb; color:#fff}
.btn_primary {display: block; width: 340px; color:#fff; background:#7749eb; border:0; }
.btn_second {display: block; width: 340px; color:#7749eb; border:1px solid #7749eb; background:#fff;}
.btn_disabled {cursor:default; background:#ddd;color:#fff; display: block; border: 0; }	
.btn:disabled {background:#888 !important; border-color:transparent !important; color:#fff !important}
.form_chk {display:none}
.form_chk_label {display:inline-block; font-size: 16px; margin-right: 16px; color:#191919; margin-bottom:10px }
.form_chk_label:before {content:''; display:inline-block; height: 24px; vertical-align: middle; padding-left: 30px; transition: all 0.3s;background: url(../image/check.svg) no-repeat center left; background-size:24px 24px; cursor: pointer;}
.form_chk:checked + .form_chk_label:before {content:''; display:inline-block; height: 24px; vertical-align: middle; padding-left: 30px; transition: all 0.3s;background: url(../image/check_on.svg) no-repeat center left; background-size:24px 24px; cursor: pointer;}

ul.tabs {width: 100%; display: flex; justify-content: center}
ul.tabs li {border-bottom:2px solid #fff;  padding-bottom: 10px; width:200px; }
ul.tabs li a {padding: 0px 20px; color:#000; font-size: 28px; display: block; text-align: center}
ul.tabs li.active { border-bottom:2px solid #7749eb;}
.tab_container {margin: 0 auto; text-align: center}
.tab_content {padding: 10px 10px 20px; min-height: 400px; display: inline-block;}

#modal_backdrop {position:fixed; background:rgba(0, 0, 0, 0.5); top:0; left:0; right:0; bottom:0; display: flex; justify-content: center; align-items: center;}
#modal {position: absolute; top: 50%; left:50%; transform: translate(-50%, -50%); width: 500px; background:#fff; z-index:999999}
#modal.modal-lg {width: 800px}
#modal.modal-lg .modal_body {height: 600px}
#modal .modal_body {padding: 20px;  height: 500px; overflow-y: auto;}
#modal .modal_body .page_title {margin-top:50px}
#modal .modal_body .tit_main {display: block; padding-top: 16px; padding-bottom: 8px;font-size: 16px; font-weight: 600; line-height: 21px;color: #333;}
#modal .modal_footer {text-align:center; padding: 16px 0 }
#modal .modal_footer button {display: inline-block; margin: 0 10px}
#modal .btn_wrap.text-center {display: flex; justify-content: center;}

.box_tbl table {width: 100%; table-layout: fixed; margin: 10px 0}
.box_tbl thead th {border-bottom: 0; font-size: 14px;}
.box_tbl td {padding: 5px; border: 1px solid #ccc; text-align: center; vertical-align: middle; font-size: 12px; line-height: 19px;}
.box_tbl td.emph {font-weight: 600; font-size: 15px; text-decoration: underline;}
.txt_service {padding: 20px 5px 24px; font-size: 14px; color: #999; line-height: 20px;}

/*============= HEADER =============*/
header #logo {margin-left: 10px; margin-top:5px; float: left;}
header #head_link {font-size: 0.75em; margin-right: 10px; float: right;}
header #head_link ul {list-style: none;}
header #head_link >ul> li {padding: 0px 8px; border-right-color: rgb(153, 153, 153); border-right-width: 1px; border-right-style: solid; float: left;}
header #head_link >ul>li:last-child {border:0}
header #head_link >ul>li a {font-size: 14px}
#head_link .no_line {border-right-color: currentColor; border-right-width: medium; border-right-style: none;}
header #search {margin: 20px 10px 0px 0px; padding: 0px; float: right;}
header #search .main_input {padding: 0px 5px; border: 3px solid rgb(51, 102, 153); border-image: none; width: 260px; height: 22px;}
header #search .btn1 {	border: 1px solid rgb(51, 102, 153); border-image: none; width: 55px; height: 28px; color: rgb(255, 255, 255); margin-left: 2px; background-color: rgb(51, 102, 153);}


header {background:#fff; box-shadow:0 0 5px rgba(0, 0, 0, 0.25);padding: 10px 0}
header #container {max-width:1200px; margin: 0 auto;}
header #top_menu {float:right; padding: 5px 0}
header #head_link >ul>li {position: relative}
header .dropdown {width: 100px; border:1px solid #efefef; padding:10px; background:#fff;position: absolute; top:100%; right:0; z-index:999}
header .dropdown li {display: block; padding:5px 0}
header .down {font-size: 8px; padding-left:3px}

header #header_cont {display: flex; flex-wrap: wrap; justify-content: space-between;}
header .head_icon {display: flex; align-items: center; width:200px; justify-content: space-around; margin-top:10px}
header .head_icon li {border:1px solid #ddd; border-radius: 50%; width:40px; height: 40px; text-align: center;  }
header .head_icon li a {line-height: 40px; display:block }
header .head_icon li a img {width: 18px; margin: 11px 0;opacity:0.5; transition:0.2s;}
header .head_icon li:hover { border-color:#666}
header .head_icon li:hover img {opacity:1}
header #gnb > ul {display: flex; justify-content: space-between; height: 56px; }
header #gnb > ul > li {display: flex; line-height: 75px; position:relative;}
header #gnb > ul > li a {display:block;}
header #gnb .gnb_item {font-weight:400; font-size: 16px; color:#191919; transition:0.2s; padding: 5px 16px}
header #gnb .gnb_item:hover {color:#7749EB}
header #gnb #allCate img {margin-right:5px; margin-bottom:5px}
header #gnb #allCate:hover img {content:url('../image/icon_menu_on.svg'); width:16px; height:14px}
header #logo img {height: auto;}


header #gnb #allCate {position:relative; z-index:999}
header #gnb li {padding-left: 10px}
header #gnb .menu_depth1 {display: none; overflow:visible !important; background:#fff; border: 1px solid #efefef}
header #gnb .menu_depth1 {position:absolute; top:65px; left:0;}
header #gnb .menu_depth1 .menu_depth1_item {overflow:visible; width:320px; line-height: 50px; border-bottom:1px solid #ffefff}
header #gnb .menu_depth1 .menu_depth1_item > span {cursor:pointer; display:block; width: 320px; height:50px}
header #gnb .menu_depth2 {position:absolute; top:0; left:0; width:320px; z-index: -1; background:#f8f8f8; height: 663px}

header #search {position: relative}
header #search .main_input {border:2px solid #7749eb; height: 50px; line-height: 50px; border-radius: 5px; width:420px; padding: 0 10px; font-family: 'LINESeedKR';}
header #search span {background:url('../image/icon_search.svg') no-repeat; display: inline-block; position: absolute; right: 10px; top:50%; transform: translate(0,-50%)}
header #search #btn_search { width:30px; height:30px;visibility: hidden}


/*============= QUICK MENU =============*/
#sticky { padding: 10px 5px; top: 115px; right:20px; width: 82px; font-size: 0.75em; position: fixed; border: 1px solid #d9d9d9; background:#fff}
#sticky ul li {	background-position: bottom; background-image: url("../imgs/sticky_line.gif"); background-repeat: repeat-x;}
#sticky ul li a {padding: 3px 0px; height: 27px; color: rgb(255, 255, 255); display: block;}
#sticky .recent {background: rgb(255, 255, 255); margin: 7px 0px; padding: 5px 0px; border-radius: 5px; text-align: center;}
#sticky .recent h3 {margin: 0px 0px 5px; color: rgb(0, 0, 0); font-size: 1em;}
#sticky .recent ul {margin: 0px; padding: 0px;}
#sticky .recent ul li {padding: 5px 0px; background-image: none;}
#sticky h5 {text-align: center}


/*============= FOOTER =============*/
footer {padding: 30px 0 0; border-top:1px solid #efefef}
footer #container {position:relative; display: flex;}
footer .f_left, footer .f_right {width: 50%; flex:1;}
footer .f_left h2 {font-size: 20px; font-weight: 500; color:#191919; margin-bottom:15px}
footer .f_left .cs_tel {font-size: 28px; color:#191919;}
footer .f_left .cs_text {font-size: 16px; padding-left: 12px; font-weight: 500}
footer .f_left .f_button {margin-top:30px;}
footer .f_left .f_button button {display: inline-block;font-family: 'LINESeedKR'; font-size:16px; width: 140px; height: 40px;border: 1px solid rgb(226, 226, 226); border-radius: 3px;line-height: 39px; text-align: center; margin-right: 16px; margin-bottom: 16px; vertical-align: baseline;}
footer .f_left .f_button div {display: inline-block; font-size: 14px; color:#888;}
footer .f_right .f_menu {display: flex;width:400px; justify-content: space-between; font-size: 14px; color:#191919}
footer .f_right .f_info {color:#888; font-size: 14px; margin-top:30px; line-height: 1.35}
footer .f_right .f_info a {font-weight:600;}
footer .f_right .f_link {margin-top:20px;}
footer .f_right .f_link li {display: inline-block; margin: 0 5px;}
footer .f_right .f_link img {width:40px}
footer .f_copy {text-align: center; font-size: 14px; color:#d5d5d5; font-weight: 400; border-top:1px solid #efefef;padding-top: 20px;}

#btn_top {display: none; position: fixed; cursor:pointer; bottom: 20px; right: 30px; z-index:10; opacity: 0.7; transition: 0.2s;}
#btn_top img {width: 70px; height: 70px;}
#btn_top:hover {opacity:1;}

#chat {position:fixed; bottom: 100px; right: 30px; z-index:99;}
#chat img {width: 70px;}
#chat a {display:block; position:relative;}
#chat a span {display:block; width: 25px; height: 25px; border-radius: 50%; background:yellow; color:#000; font-weight:bold; text-align:center; line-height: 30px; position:absolute; top:-3px; right:-3px}

/*============= SIDEBAR =============*/
#sidebar {display: block; width: 200px; float:left; margin-top: 50px; }
#sidebar .sidebar_title {height: 75px; padding: 5px 0px 35px 1px; font-weight: 500; font-size: 28px; line-height: 35px; color: rgb(51, 51, 51); letter-spacing: -1px;}
#sidebar .sidebar_menuBox {border: 1px solid rgb(242, 242, 242);}
#sidebar .sidebar_menu a.active, #sidebar .sidebar_menu a:hover {background-color: #fff; color:#7749eb; font-weight: 500;}
#sidebar .sidebar_menu a {border-bottom: 1px solid rgb(242, 242, 242); padding: 14px 20px 16px; display: flex; -webkit-box-pack: justify;justify-content: space-between;-webkit-box-align: center; align-items: center; line-height: 19px; letter-spacing: -0.3px; font-size: 14px;color: rgb(102, 102, 102);}



/*============= LOGIN =============*/
#login_wrap {text-align:center; margin-bottom:100px}
#login_form {display: inline-block; margin: 0 auto; }
#login_form .text-right {padding: 10px 0 }
#login_form .text-right a {font-size: 14px; color:#191919}
#login_form .btn_primary {margin-bottom:10px}
#login_form .social_login_box {margin:50px 0 0; border-top:1px solid #d9d9d9; text-align:center;}
#login_form .social_login_box h5 {color:#191919; font-weight:400; transform:translate(0,-50%); display: inline-block; background:#fff; padding: 0 15px}
#login_form .social_login_box .btn_kakao {margin-top:20px}
#login_form .social_login_box img {margin-right: 5px}
.btn_kakao {display: block; width: 340px; color:#242729; background:#fbe400}
.btn_naver {display: block; width: 340px; color:#fff; background:#06BE34}



/*============= FIND ID/PW =============*/
#findId .btn_confirm, #findPw .btn_confirm {display: none}



/*============= JOIN =============*/
.square-wrap {text-align: center; margin: 0 auto 100px;}
.square-wrap .square-item {width:200px; height: 200px; display: inline-block; margin: 20px; }
.square-wrap .square-item a {display: block; color:#fff; font-weight:600; font-size: 20px;  padding:40px 20px 40px}
.square-wrap .square-item a img {display: block; margin:0 auto 30px; width:70px;}
.puple-square {background:#7847e7;}
.deep-purple-square {background: #43218d}
.progress-wrap {margin: -30px auto 100px; text-align:center}
.progress-wrap li {display: inline-block; font-weight: 600; padding: 10px 16px; color:#c8c8c8; font-size: 15px; position: relative; }
.progress-wrap li.here {color: #43218d; }
.progress-wrap li:after {content: '>'; display: inline-block; width: 5px; height: 8px; position: absolute; right: -5px; top:10px;}
.progress-wrap li.last:after {display: none}
.btn_findAddr {display: inline-block; line-height:46px; color:#7749eb; border:1px solid #7749eb; background:#fff; margin-left:0; width: 340px}
.btn_findAddr:hover {transition:0.2s; background: #7749eb; color:#fff;}
.birthInput_wrap {border:1px solid #efefef; background:#fff; display: inline-flex;justify-content: center; align-items:center; padding:0 5px; margin:0 3px; border-radius:3px; width: 340px}
.birthInput_wrap .birth-input {border:0; width: 90px; text-align: center; height: 46px; line-height: 46px;}
.birthInput_wrap span {color:#888; padding: 0 10px}
.join_btn_wrap {display: flex; justify-content: center; margin-bottom:100px}



/*============= JOIN =============*/
.shop_leftTable {width: 800px; margin-right:20px}
.cart_table li {border-bottom:1px solid #efefef}
.cart_table .goods_chk {width: 40px;}
.cart_table .goods_image {width: 140px;}
.cart_table .goods_name {width: 40%; color:#000}
.cart_table .goods_count {width: 30%}
.cart_table .goods_price {width: 25%; font-weight: 700;font-size: 16px;line-height: 24px;color: #000;}
.cart_table .goods_price .text_muted {font-weight: 500; display:block; font-size: 14px; text-decoration:line-through}
.cart_table .goods_delete {width: 5%}
.cart_table .goods_count >div {border:1px solid #d9d9d9; padding: 3px;border-radius: 50px; width: 90px; align-items: center; font-size: 14px}
.cart_table .goods_count button { font-size: 18px;line-height:28px;  text-align:center; width: 28px; height: 28px;  display:block; font-weight: bold; margin: 0 5px}
.cart_table .count_input {border:0; width:20px; text-align:center; font-weight: bold;}
.shop_leftTable .cart_top .form_chk_label {padding-right: 15px; margin-right:10px; border-right:1px solid #efefef; margin-bottom:0}
.shop_rightbar {width:310px; margin-bottom:80px}
.shop_rightbar .addr_wrap {padding: 23px 19px 20px; border: 1px solid #f2f2f2; border-bottom: 0;}
.shop_rightbar .addr_wrap h3 {padding-left: 24px; font-size: 16px; font-weight: 500; line-height: 20px; background: url(../image/icon_addr.svg) 0 50% no-repeat; -webkit-background-size: 20px 20px; background-size: 20px 20px;}
.shop_rightbar .addr_info {padding-top: 12px; font-size: 16px; line-height: 24px; color: #000;}
.shop_rightbar .addr {font-size: 16px; font-weight: 500; line-height: 24px; word-break: break-word;}
.shop_rightbar .addr_wrap .btn {margin-top:10px}
.shop_rightbar .price_wrap {padding: 19px 18px 18px 20px; border: 1px solid #f2f2f2; background-color: #fafafa;}
.shop_rightbar .price_wrap li {display: flex; -webkit-box-pack: justify;justify-content: space-between;padding-top: 0; margin:5px 0 }
.shop_rightbar .price_wrap span:first_child {width: 100px; font-size: 16px; line-height: 24px; white-space: nowrap;}
.shop_rightbar .price_wrap span, .shop_rightbar .price_wrap strong {color:#000}
.shop_rightbar .btn_wrap .btn {width: 100%;margin-top:20px}
.shop_rightbar .cart_notice {padding:16px 0}
.shop_rightbar .cart_notice li {padding-top: 4px; color: #666; position:realtive; font-size: 12px; line-height: 16px; padding-left: 7px;}
.shop_rightbar .cart_notice li:before {overflow: hidden; position: absolute; width: 1px; height: 1px; margin: 6px 0px 0 -6px; background: #999; vertical-align: top;border-radius: 50%;content: '';}
.shop_rightbar .delivery_notice p {padding: 0 0 10px ; font-size: 14px; width: 100%; text-align: right}



/*============= ORDER =============*/
.section-title {color:#000; margin-bottom:20px}
.border-top {border-top: 1px solid #000; padding: 20px 0; font-size: 16px;}
.no-bd {border:0}
section[id^="order"] {margin-bottom:60px}
section[id^="order"] table td:first-child {font-size: 14px; color:#000; font-weight: bold}
.order-item {align-items: center;margin-bottom:10px;color:#191919}
.order-item .goods_name {padding : 0 10px;}
.order-item .goods_name a {color:#191919;}
.order-item .goods_qty {margin-right:30px}
.border-top td {padding: 10px 10px 10px 0;vertical-align:top}
.border-top td:last-child {padding-left: 20px}
.btn_edit {width: 60px; height: 30px; line-height: 30px; border:1px solid #d9d9d9; color:#666; font-size: 12px; display: block; font-weight:bold; margin-top:16px; }
.btn_coupon {position: relative; border-radius:3px;width:400px; height: 44px; padding: 0px 54px 0px 16px; border: 1px solid rgb(221, 221, 221); font-size: 14px; line-height: 44px; text-align: left; color:#000 }
.btn_coupon {background:url('../image/icon_selectDown.svg') no-repeat; background-position: 96% 50%; cursor:pointer; position:relative;border-radius:3px}
.btn_coupon.empty {color: rgb(204, 204, 204); cursor:default;}
.select_down {position: absolute; top: 10px; right: 16px; width: 400px; top:41px;border: 1px solid rgb(221, 221, 221);left:-1px; border-radius:3px}
.select_down li {background:#fff; padding:0 16px; transition:0.2s}
.select_down li:hover {background:#efefef;}
.select_down li a {display:block;}
.select_down span {display: inline-block;width: 12px; height: 8px; background:url(../img/icon_select.svg)}
.input_point {border-radius: 3px; font-size: 14px; height: 44px; color: rgb(204, 204, 204);border: 1px solid rgb(221, 221, 221); padding: 5px; margin:0}
.btn_point , .btn_pay {display: inline-block;padding: 0px 10px; text-align: center; overflow: hidden; width: 100px; height: 44px; border-radius: 3px; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221);}
.btn_pay {margin-top:0}
.order_leftbox {width: 720px;}
.order_rightbox {position:relative; width: 220px; }
.order_rightbox .sticky {width: 284px; position: sticky; top: 60px;}
.order_rightbox h1 {padding: 16px 0px; font-weight: 500; font-size: 20px; color: rgb(51, 51, 51); line-height: 29px;}
.order_rightbox ul {width: 100%; padding: 17px 16px 18px 18px; background: rgb(250, 250, 250); border: 1px solid rgb(242, 242, 242);}
.order_rightbox ul li { margin-top: 16px; font-size: 16px;color: rgb(51, 51, 51); padding-bottom: 8px; width: 100%; display: flex; justify-content: space-between}
.order_rightbox ul li span:last-child {text-align: right}


/*============= GOODS DETAIL =============*/
#goods_mainInfo_container {width: inherit;display: flex;justify-content: space-between;padding-top: 40px;padding-bottom: 100px;}
#goods_image_area {margin-right:30px}
#goods_image_area figure {padding: 0px 30px 0px 0px; width: auto; text-align: center;}
#goods_image_area figure img {border: 1px solid rgb(255, 255, 255); border-image: none; width: 480px; height: auto;}
#goods_mainInfo_area .goods_mainInfo .delivery {font-weight: 500; line-height: 1.36;letter-spacing: -0.5px;color: rgb(153, 153, 153);margin-bottom: 6px;}
#goods_mainInfo_area .goods_mainInfo h1 {width: 500px;  font-weight: 500;  font-size: 24px; color: rgb(51, 51, 51); line-height: 34px;letter-spacing: -0.5px; word-break: keep-all;}
#goods_mainInfo_area .goods_mainInfo h2 {padding-top: 5px;font-size: 14px;font-weight: 400;color: rgb(181, 181, 181);line-height: 19px;letter-spacing: -0.5px; padding-bottom: 20px;}
#goods_mainInfo_area .goods_mainInfo .discountRate_text {font-size: 28px;color: rgb(250, 98, 47);font-weight: 600;}
#goods_mainInfo_area .goods_mainInfo .goods_price {font-size: 28px;color: rgb(51, 51, 51);font-weight: 600;padding: 20px 0 20px 9px;}

#detail_table {width: 520px; font-size: 0.75em; margin-top: 20px;margin-bottom: 30px; padding:0 20px}
#detail_table table {border-collapse: collapse;	width: 100%;}
#detail_table table tr.solid_line {border-bottom: 1px solid rgb(244, 244, 244);}
#detail_table table tr.solid_line:first-child {	border-top: 1px solid rgb(244, 244, 244);}
#detail_table table td {padding: 16px 0px 16px 10px; color:#000; font-weight:400}
#detail_table table td .goods_selection_box {border: 1px solid rgb(244, 244, 244);padding: 11px 10px 11px 15px;font-size: 12px;}
#detail_table table td .goods_selection_box .count_button_wrap  {display:flex; border:1px solid #d9d9d9; padding: 3px; border-radius: 5px; width: 90px; align-items: center; font-size: 14px; margin-top:10px}
#detail_table table td .goods_selection_box .count_button_wrap button { font-size: 18px;line-height:28px;  text-align:center; width: 28px; height: 28px;  display:block; font-weight: bold; margin: 0 5px}
.goods_total_box {padding: 20px}
.goods_total_box .total_price_wrap div {margin: 30px 0;}
.goods_total_box .total_price_wrap #initial_goods_total_price,
.goods_total_box .total_price_wrap #goods_total_price {font-weight: bold; font-size: 32px;  color: rgb(51, 51, 51); line-height: 36px; margin-left: 4px;}
.goods_total_box .total_buttons a:first-child,
.goods_total_box .total_buttons a:nth-child(2) {padding: 0px 10px; text-align: center; overflow: hidden;width: 56px;height: 46px;border-radius: 3px;color: rgb(51, 51, 51);background-color: #fff; border: 1px solid rgb(221, 221, 221);margin-right: 6px;}
.goods_total_box .total_buttons a:first-child i {color: #7749eb;}
.goods_total_box .total_buttons a:nth-child(2) i {color: rgb(221, 221, 221);}
.goods_total_box .total_buttons a:last-child {margin:0; padding: 0px 10px; text-align: center; overflow: hidden; width: 74%; height: 46px;border-radius: 3px; color: rgb(255, 255, 255); background-color: #7749eb;}
.goods_total_box .total_buttons a i {line-height: 46px !important}
.text_line {text-decoration: line-through;color: rgb(181, 181, 181);}
.remove {display: none;}
.layer { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.3); z-index: 4;}
.popup { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 300px; background-color: rgb(255,255,255); padding: 20px; text-align: center; border-radius: 10px;}
.close { float: right; cursor: pointer;}
.addMessage { text-align: center; margin-top: 20px; margin-bottom: 20px;}
.go_button {padding: 10px 20px;border: 0px none;background-color: #7749eb;color: rgb(255,255,255);}
.go_button:hover {cursor: pointer;}

#goods_detailInfo_container .goods_nav {width: 100%;justify-content: space-between; }
#goods_detailInfo_container .goods_nav li {flex:1; border-right:1px solid #fff}
#goods_detailInfo_container .goods_nav li:last-child {border-right:0}
#goods_detailInfo_container .goods_nav li a {background:#f5f5f5;display:block; height: 46px; line-height: 46px }

#goods_review .board_top {padding: 30px 0; justify-content: space-between; margin-bottom: 30px;}
#goods_review .boardInfo_wrap {width: 100%;display: flex; align-items: center; justify-content: space-between;}
#goods_review .boardInfo-wrap .board_filter {display: flex; justify-content: center; align-items: center;}
#goods_review .boardInfo-wrap .board_filter button:first-child {padding-right: 8px;}
#goods_review .boardInfo-wrap .board_filter button:last-child {padding-left: 8px;}
#goods_review .board_body {margin-top: 20px; border-top: 2px solid #000; width: 100%;}
#goods_review .board_body .board_body_review .no_review {padding: 40px 0 0 40px;}
#goods_review .review_wrap {display: flex; align-items: center; justify-content: space-around; border-top: 1px solid #efefef; margin-top: 20px;}
#goods_review .review_wrap:first-child {border-top: none; margin-top: 0;}
#goods_review .review_wrap .memberInfo .gradeName{border: 1px solid #7749eb; border-radius: 3px;	font-size: 10px; padding: 4px; color: #7749eb; margin-right: 3px;}
#goods_review .review_wrap article {margin-left: 50px;}
#goods_review .review_wrap article .goodsName_wrap h3,
#goods_review .review_wrap article .review_sideInfo .createdDate {color: rgb(153, 153, 153); font-weight:normal; font-size: 14px}
#goods_review .review_wrap article p {margin: 10px 0 20px;word-break: keep-all;}
#goods_review .review_wrap article .review_sideInfo {display: flex; justify-content: space-between; align-items: center;}
#goods_review .review_wrap article .review_sideInfo .review_help_wrap {border: 1px solid rgb(226, 226, 226); border-radius: 20px; color: rgb(153, 153, 153); font-size: 12px; line-height: 20px; padding: 6px 12px; cursor:pointer}
#goods_review .review_wrap article .review_sideInfo .review_help_wrap i {margin-right: 3px;}
#goods_review .review_wrap article .review_sideInfo .review_help_wrap.help_on span {color:#7749eb}
#goods_review .review_wrap article .review_sideInfo .review_help_wrap.help_on i {color:#7749eb}
#goods_review .review_wrap article .star i{color:#fbd935}
#goods_detailInfo_container section {border-bottom: 1px solid #efefef; padding: 40px 0 ; min-height:200px; }
#goods_detailInfo_container section:last-child {border:0}
#goods_detailInfo_container section h4 {text-align: center; color:#000; font-size:24px; margin-bottom: 10px}
#goods_qna .board_top {padding: 30px 0; justify-content: space-between; margin-bottom: 30px }
#goods_qna .board_top li {list-style: disc;}
#goods_qna .board_body {margin-bottom:80px}
#goods_qna .board_body .table {border-top:2px solid #000; width:100%; text-align:center; border-collapse:collapse; border-spacing:0; }
#goods_qna .board_body .table .table_head {width: 100%}
#goods_qna .board_body .th, #goods_qna .board_body .td {padding: 17px 0;}
#goods_qna .board_body .th {border-bottom: 2px solid #000; font-weight: 400; color:#000}
#goods_qna .board_body .td-title {width: 70%}
#goods_qna .board_body .td-name, #goods_qna .board_body .td-date, #goods_qna .board_body .td-status {width: 10%;}
#goods_qna .board_body .table_item {border-bottom: 1px solid #efefef; flex-wrap: wrap;}
#goods_qna .board_body .table_item .empty {height: 200px; line-height: 200px; width: 100%}
#goods_qna .board_body .td {color:#000; font-weight: 400; color:#666; font-size: 14px}
#goods_qna .board_body .td[colspan="4"] {height: 200px; }
#goods_qna .board_body .td.td-title {text-align: left; }
#goods_qna .board_body .td.td-title a {font-weight: bold;display: block; height: 20px;line-height: 20px; color:#000; padding: 0 10px}
#goods_qna .board_body .td.td-title a.secret {color:rgb(153, 153, 153); font-weight: normal}
#goods_qna .board_body .td.td-title a.secret img {margin-left :5px}
#goods_qna .board_body .replyed {color:#7749eb;}
#goods_qna .board_body .bod_content {background-color: rgb(250, 250, 250); border-bottom: 1px solid rgb(244, 244, 244); width: 100%}
#goods_qna .board_body .bod_content p {margin-left: 12px; padding-top: 2px; font-size: 14px; word-break: break-all; line-height: 19px; letter-spacing: -0.5px;}
#goods_qna .board_body .qna_content {display: flex; padding: 22px 20px 30px; align-items: flex-start;}
#goods_qna .board_body .qna_content .q {width: 24px; height: 24px; background-image: url('../image/icon_q.svg'); background-position: center center; background-repeat: no-repeat; background-size: contain;}
#goods_qna .board_body .reply_content {display: flex; padding: 22px 20px 30px; align-items: flex-start;flex-wrap: wrap;}
#goods_qna .board_body .reply_content .a {width: 24px; height: 24px; background-image: url('../image/icon_a.svg'); background-position: center center; background-repeat: no-repeat; background-size: contain;}
#goods_qna .board_body .reply_content .reply_date {width: 100%;padding: 20px 16px 20px; font-size: 14px; line-height: 22px; color: rgb(153, 153, 153);}



#modal #form_wirteQna .modal-title {font-size: 24px; font-weight: bold; line-height: 30px; color: rgb(51, 51, 51); margin-bottom: 20px;border-bottom: 1px solid #efefef;padding-bottom: 20px;}
#modal #form_wirteQna .form_row {width: 100%}
#modal #form_wirteQna .btn_input {flex:1}
#modal #form_wirteQna #qna_content {width: 100%; flex:1; height: 310px; resize: none; overflow-y: auto;}
#modal #form_wirteQna .secret_box {width: 100%; margin-top: 10px}

#modal #form_wirteReview .modal-title {font-size: 24px; font-weight: bold; line-height: 30px; color: rgb(51, 51, 51); margin-bottom: 20px;border-bottom: 1px solid #efefef;padding-bottom: 20px;}
#modal #form_wirteReview .form_row {width: 100%}
#modal #form_wirteReview .btn_input {flex:1}
#modal #form_wirteReview #review_content {width: 100%; flex:1; height: 310px; resize: none; overflow-y: auto;}
#modal #form_wirteReview .secret_box {width: 100%; margin-top: 10px}
#modal #form_wirteReview .star-item i {font-size: 20px}
#modal #form_wirteReview .fa-solid {color:#fbd935}

/*============= ADDRESS POPUP =============*/
.container_pop {padding: 30px; max-height:545px; overflow-x:auto;}
.address_top .d-flex {justify-content: space-between; align-items: center}
.address_body {margin-top: 20px}
.address_body .address_head {border-top: 2px solid #000; border-bottom: 1px solid #000; justify-content: space-between; padding: 16px 0}
.address_body .address_cont {padding: 20px 0}
.address_body .check {width: 64px; margin-right:12px;}
.address_body .check .form_chk_label {margin:0}
.address_body .addr {flex:1;}
.address_body .edit {width: 40px;}
.address_body .basic {display: inline-block; height: 22px; padding: 0px 8px; margin-bottom: 11px; border-radius: 11px; font-weight: 500; font-size: 12px; line-height: 22px; color: rgb(102, 102, 102); background-color: rgb(247, 247, 247); vertical-align: top;}
.address_body .address_item {justify-content: space-between; border-bottom: 1px solid #efefef;  padding-bottom: 12px; margin-bottom: 15px;    align-items: center;}
.address_body .address_item .bar {color:#d9d9d9; font-size: 12px; padding: 0 5px}
.address_body .address_item .address {font-size: 16px;line-height: 20px;word-break: break-all;}
.address_body .address_item .receiver {padding-top: 7px; color: rgb(102, 102, 102);}
.address_footer {position: fixed; bottom: 0; left: 0; width: 100%;}
.address_footer .btn_bottom {border: 0; border-radius: 0; border-top: 1px solid #f4f4f4; font-weight: 500; display:block; text-align: center; width: 100%}


/*============= CHAT =============*/
.chat_top {padding: 12px; background-color: rgba(239, 239, 240, 0.8); backdrop-filter: blur(60px);}
.chat_input {position: fixed; right: 0px; bottom: 0px;left: 0px;z-index: 10;box-sizing: content-box; width: 100%; min-height: 50px;}
.chat_input .input_wrap {opacity: 0.01;animation-name: ehLtDs;animation-duration: 800ms;animation-timing-function: cubic-bezier(0.3, 0, 0, 1);animation-fill-mode: forwards;}
.input_wrap {position: relative;-webkit-box-align: center; align-items: center; min-height: 50px;padding: 0px 6px 0px 14px;margin: 0px 10px 10px;background: #f5f5f6; border-radius: 18px; box-shadow: rgb(255 255 255) 0px 16.6667px 0px;backdrop-filter: blur(60px);}
#chatArea {width:100%;height: 494px;overflow-y: auto; padding: 0 5px}
.chat_textarea {width: 100%; min-width: 0px; padding: 14px 10px 0px 0px; margin: auto; overflow: hidden; color: rgba(0, 0, 0, 0.85); outline:none; resize: none; background-color: transparent; border: none;}
#chat_intro {margin-bottom:30px}
#chat_intro .chat_intro_img {margin: 24px 0 18px }
#chat_intro .chat_intro_msg {font-weight: bold;color:#000; word-break: break-word;overflow-wrap: break-word;white-space: pre-line; margin-bottom:7px}

#chat_intro span {font-size: 13px; color:#888; }
#chatArea .msg_wrap.ask {justify-content: end; }
#chatArea .msg_wrap {justify-content: start;}
#chatArea .msg_wrap .profile {display:inline}
#chatArea .msg_wrap.ask .profile {display: none}
#chatArea .msg_wrap .msg_item {max-width: 100%; width: fit-content; min-width: 18px;margin: 0px 2px 2px 2px;display: flex; -webkit-box-pack: center; justify-content: center; align-items:end;}
#chatArea .msg_wrap .msg_item .date {font-size: 12px; margin:10 0 20px; color:#000}
#chatArea .msg_wrap .profile {display: flex;flex-direction: column;-webkit-box-pack: end;justify-content: flex-end; width: 24px;height:24px; margin:0 5px 2px 0; border-radius: 50%;overflow: hidden;}
#chatArea .msg_wrap .msg {color: rgba(0, 0, 0, 0.85);background-color: rgba(0, 0, 0, 0.05);border-radius: 10px; flex:1;padding: 5px 10px;} 
#chatArea .msg_wrap.ask .msg {background:#7749eb;color:#fff}
#chatArea .msg_wrap .msg p {text-align: left; word-break: break-word; overflow-wrap: break-word; white-space: pre-line;}
#chatArea .msg_wrap .time {margin-left: 10px; }
#chatArea .msg_wrap .time span {font-size: 12px; color:#888}
#chatArea .msg_wrap.ask .msg {order:2}
#chatArea .msg_wrap.ask .time {margin-right: 10px}

article table#list_view td {
	margin: 0px; padding: 10px 0px; border-bottom-color: rgb(153, 153, 153); border-bottom-width: 1px; border-bottom-style: dotted;
}
article table#list_view h2 {
	padding: 0px 0px 2px; font-size: 1.2em; font-weight: bold;
}
article table#list_view td.goods_image {
	width: 80px;
}
article table#list_view td.goods_description {
	width: 500px; padding-left: 5px;
}
article table#list_view td.goods_description .writer_press {
	padding: 2px 5px; color: rgb(51, 102, 255);
}
article table#list_view td.goods_description p {
	line-height: 1.2em;
}
article table#list_view td.price {
	padding: 0px 0px 0px 10px; width: 70px;
}
article table#list_view td.price span {
	text-decoration: line-through;
}
article table#list_view td.price strong {
	color: rgb(255, 0, 0); font-weight: bold;
}
article table#list_view td.buy_btns {
	width: 80px; padding-left: 5px;
}
article table#list_view td.buy_btns ul {
	list-style: none;
}
article table#list_view td.buy_btns ul li {
	margin: 5px 0px;
}
article table#list_view td.buy_btns ul li a {
	padding: 5px 12px; border-radius: 3px; border: 1px solid rgb(153, 153, 153); border-image: none; text-align: center; display: block;
}
article table#list_view td.buy_btns ul li a:hover {
	color: rgb(255, 255, 255); background-color: rgb(0, 51, 102);
}
article #page_wrap {
	margin: 10px auto 50px; padding: 0px; width: 400px;
}
article ul#page_control {
	list-style: none; padding: 0px; font-size: 11px;
}
article ul#page_control li {
	padding: 0px 5px; float: left;
}
article ul#page_control li a {
	padding: 2px 5px; border: 1px solid rgb(204, 204, 204); border-image: none; display: block;
}
article ul#page_control li a:hover {
	border: 1px solid rgb(255, 0, 0); border-image: none; color: rgb(255, 0, 0);
}
article ul#page_control li a.no_border {
	border: currentColor; border-image: none; padding-top: 3px;
}
.active {
	color: rgb(255, 0, 0); font-weight: bold;font-size: 0.8em;
}
article ul#page_control li .page_contrl_active {
	background: rgb(255, 255, 255); border: 1px solid rgb(255, 0, 0); border-image: none; color: rgb(255, 0, 0);
}
article h3 {
	margin: 5px 0px;
}
article h4 {
	margin: 5px 0px;
}
article h3 {
	color: rgb(0, 153, 255); font-size: 1em;
}
article h4 {
	font-size: 0.8em; font-weight: normal;
}
#goods_image {
	margin: 10px 0px 0px;
}
#detail_table {
	margin: 10px 0px 0px;
}
#goods_image {
	float: left;
}
#goods_image figure {
	padding: 0px 30px 0px 0px; width: auto; text-align: center;
}
#goods_image figure img {
	border: 1px solid rgb(255, 255, 255); border-image: none; width: 150px; height: auto; box-shadow: 2px 2px 25px #666;
}

#detail_table table td {
	padding: 17px 0 18px;
}

#detail_table table td.fixed {
	 font-size: 0.8em; width:45px
}

#detail_table ul {
	list-style: none; margin: 20px 0px 0px;
}
#detail_table ul li {
	padding: 0px 10px; float: left;
}
#detail_table ul li a {
	border-radius: 5px; border: 2px solid rgb(153, 153, 153); border-image: none; width: 150px; height: 25px; text-align: center; padding-top: 7px; font-family: "NanumGothic", Serif; font-size: 1.2em; font-weight: bold; display: block;
}
#detail_table ul li a.buy {
	background-position: 15px; background-repeat: no-repeat;
}
#detail_table ul li a.cart {
	background-position: 15px; background-repeat: no-repeat;
}
#detail_table ul li a.wish {
	background-position: 15px; background-repeat: no-repeat;
}
#detail_table ul li a.buy {
	border-color: rgb(255, 0, 0); color: rgb(255, 0, 0); background-image: url("../imgs/check.png");
}
#detail_table ul li a.cart {
	background-image: url("../imgs/cart.png");
}
#detail_table ul li a.wish {
	background-image: url("../imgs/wish.png");
}
#detail_table ul li a.buy:hover {
	color: rgb(0, 0, 0); background-color: rgb(255, 204, 0);
}
#detail_table ul li a.cart:hover {
	color: rgb(0, 0, 0); background-color: rgb(255, 204, 0);
}
#detail_table ul li a.wish:hover {
	color: rgb(0, 0, 0); background-color: rgb(255, 204, 0);
}





.list_view {
	width: 100%; color: rgb(51, 51, 51); font-size: 0.75em; margin-top: 20px; border-top-color: rgb(51, 51, 51); border-top-width: 2px; border-top-style: solid; border-collapse: collapse;
}

.list_view tr {
	margin: 0px; padding: 10px 0px; border-bottom-color: rgb(153, 153, 153); border-bottom-width: 1px; border-bottom-style: dotted; 
}

  .list_view td {
	margin: 0px; padding: 10px 0px; border-bottom-color: rgb(153, 153, 153); border-bottom-width: 1px; border-bottom-style: dotted;
}
  .list_view h2 {
	padding: 0px 0px 2px; font-size: 1.2em; font-weight: bold;
}
  .list_view td.goods_image {
	width: 80px;
}
  .list_view td.goods_description {
	width: 500px; padding-left: 5px;
}
 .list_view td.goods_description .writer_press {
	padding: 2px 5px; color: rgb(51, 102, 255);
}
  .list_view td.goods_description p {
	line-height: 1.2em;
}
  .list_view td.price {
	padding: 0px 0px 0px 10px; width: 70px;
}
 .list_view td.price span {
	text-decoration: line-through;
}
   .list_view td.price strong {
	color: rgb(255, 0, 0); font-weight: bold;
}
 .list_view td.buy_btns {
	width: 80px; padding-left: 5px;
}
  .list_view td.buy_btns ul {
	list-style: none;
}
  .list_view td.buy_btns ul li {
	margin: 5px 0px;
}
 .list_view td.buy_btns ul li a {
	padding: 5px 12px; border-radius: 3px; border: 1px solid rgb(153, 153, 153); border-image: none; text-align: center; display: block;
}
  .list_view td.buy_btns ul li a:hover {
	color: rgb(255, 255, 255); background-color: rgb(0, 51, 102);
}

.detail_table {
	margin: 20px 0px 0px;
}

.detail_table {
	width: 590px; font-size: 0.75em; float: left;
}
.detail_table table {
	width: 95%; border-top-color: rgb(51, 51, 51); border-bottom-color: rgb(51, 51, 51); border-top-width: 2px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; border-collapse: collapse;
}
.detail_table table td {
	padding: 7px 0px 7px 10px;
}
.detail_table table tr.dot_line {
	border-bottom-color: rgb(102, 102, 102); border-bottom-width: 1px; border-bottom-style: dotted;
}

.detail_table table tr.solid_line {
	border-bottom-color: rgb(102, 102, 102); border-bottom-width: 1px; border-bottom-style: solid;
}
.detail_table table td span {
	font-family: "NanumGothic", Serif; font-size: 1.2em; font-weight: bold;
}

.detail_table table td.fixed {
	width: 110px; font-weight: bold;
}



.detail_table table td.fixed_join {
	width: 110px; font-weight: bold; color: #0000cc;background:  #e1e1ff;
}

.detail_table ul {
	list-style: none; margin: 20px 0px 0px;
}
.detail_table ul li {
	padding: 0px 10px; float: left;
}
.detail_table ul li a {
	border-radius: 5px; border: 2px solid rgb(153, 153, 153); border-image: none; width: 150px; height: 25px; text-align: center; padding-top: 7px; font-family: "NanumGothic", Serif; font-size: 1.2em; font-weight: bold; display: block;
}
.detail_table ul li a.buy {
	background-position: 15px; background-repeat: no-repeat;
}
.detail_table ul li a.cart {
	background-position: 15px; background-repeat: no-repeat;
}
.detail_table ul li a.wish {
	background-position: 15px; background-repeat: no-repeat;
}
.detail_table ul li a.buy {
	border-color: rgb(255, 0, 0); color: rgb(255, 0, 0); background-image: url("../imgs/check.png");
}
.detail_table ul li a.cart {
	background-image: url("../imgs/cart.png");
}
.detail_table ul li a.wish {
	background-image: url("../imgs/wish.png");
}
.detail_table ul li a.buy:hover {
	color: rgb(0, 0, 0); background-color: rgb(255, 204, 0);
}
.detail_table ul li a.cart:hover {
	color: rgb(0, 0, 0); background-color: rgb(255, 204, 0);
}
#detail_table ul li a.wish:hover {
	color: rgb(0, 0, 0); background-color: rgb(255, 204, 0);
}

article h1_TITLE {
	padding: 0px 0px 5px; letter-spacing: 2px;  font-size: 1.1em; border-bottom-color: rgb(102, 102, 102); border-bottom-width: 2px;
}


.main_book {
	width: auto; padding-top: 7px; font-size: 0.75em;
}
.main_book h3 {
	margin: 0px 0px 5px; padding: 0px 0px 5px; color: rgb(51, 102, 153); text-transform: uppercase;font-size: 1.2em; border-bottom-color: rgb(51, 102, 153); border-bottom-width: 1px; border-bottom-style: solid;
}

.main_book .book {
	background-position: right; border: 2px solid rgb(255, 255, 255); border-image: none; width: 188px; height: 250px; text-align: center; float: left; background-image: url("../imgs/vline_grey.gif"); background-repeat: repeat-y;
}
.main_book .book img {
	margin: 5px 0px 0px;
}
.main_book .book:hover {
	border: 2px solid rgb(255, 0, 0); border-image: none; background-image: none;
}
.main_book .no_back.book {
	background-image: none;
}
.main_book .book .sort {
	margin: 0px; padding: 2px 0px;
}
.main_book .book .title {
	margin: 0px; padding: 2px 0px;
}
.main_book .book .writer {
	margin: 0px; padding: 2px 0px;
}
.main_book .book .price {
	margin: 0px; padding: 2px 0px;
}
.main_book .book .sort {
	margin-top: 4px;
}
.main_book .book .title {
	font-weight: bold;
}


.show_row_line{
	margin: 0px; padding: 10px 0px; border-bottom-color: rgb(153, 153, 153); border-bottom-width: 1px;    border-bottom-style: dotted;
}

.del_row_line{
	margin: 0px; padding: 10px 0px; border-bottom-color: rgb(153, 153, 153); border-bottom-width: 1px;     border-bottom-style: none;border-top-style:solid; border-top-width: 1px;border-top-color:#ffffff;
}